# Dependencies
/node_modules

# Next.js build output
/.next
/dist
/out

# Next.js static files
*.log
*.lock
*.env

# Vercel
.vercel

# Misc
.DS_Store
.vscode
*.swp
.idea
*.sublime-workspace

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Testing
/coverage