@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #FFFFFF;
  --color-black-100: #C1C7CE;
  --color-black-300: #41484D;
  --color-black-600: #1A1C1E;
  --color-primary: #2247F2;
  --color-secondary-300: #F0EFFF;
  --color-secondary-600: #7A24E9;
}

body {
  color: var(--color-black-600);
  background: var(--color-white);
  min-height: screen;
}

@layer components {
  .section__heading {
    @apply font-bold text-4xl md:text-[54px] leading-none;
  }

  .section__heading--2 {
    @apply section__heading text-3xl;
  }

  .section__paragraph {
    @apply text-lg;
  }

  .section__item__title {
    @apply text-lg font-bold;
  }

  .section__item__description {
    @apply text-base text-black-300;
  }

  .section__check-list {
    list-style-type: none;
  }

  .button {
    @apply px-10 py-4 text-sm text-white text-nowrap rounded-xl;
  }

  .button--outline {
    @apply button text-primary border-[1.5px] border-primary;
  }

  .button--primary {
    @apply button hover:text-white bg-primary hover:bg-secondary-600 active:bg-primary;
  }

  .input {
    @apply p-4 placeholder-black-300 border rounded-md focus:outline-primary;
  }
}

@layer utilities {
  .text-wrap {
    text-wrap: wrap;
  }

  .text-nowrap {
    text-wrap: nowrap;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}